<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>

<connectionStrings><add name="BDPasajeEntities" connectionString="metadata=res://*/Models.BDPasajes.csdl|res://*/Models.BDPasajes.ssdl|res://*/Models.BDPasajes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Laptop-Edu;initial catalog=BDPasaje;persist security info=True;user id=sa;password=Peru777.;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
